@import "../utils/variables";
@import "../utils/mixins";

.navbar {
  padding: 20px;
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_img {
    @include desktop {
      align-self: flex-start;
      width: 150px;
    }
  }
  &_tags {
    display: flex;
    flex-wrap: wrap;
    @include desktop {
      justify-content: center;
      margin-top: 35px;
    }
  }
  @include desktop {
    width: auto;
    flex-direction: column;
  }
}

.main_title {
  font-weight: 100;
  position: absolute;
  right: 50px;
  top: 5px;
  color: $primary-color;
  font-size: 36px;
  @include desktop {
    font-size: 18px;
    right: 15px;
    top: 25px;
  }
}
