@import "../utils/mixins";

.photographer_banner {
  width: 90%;
  margin: auto;
  border-radius: 5px;
  background-color: #fafafa;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  @include desktop {
    background-color: #ffffff;
    width: 100%;
    padding: 0;
    margin-top: 20px;
  }
  &__img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
    @include desktop {
      margin-right: 0;
      width: 130px;
      height: 130px;
    }
  }

  &__title {
    color: $primary-color1;
    margin: 20px 0;
    font-size: 64px;
    font-weight: normal;
    text-decoration: none;
    @include desktop {
      font-size: 36px;
      margin: 0 0 5px 0;
    }
  }
  &__location {
    font-size: 24px;
    font-weight: bold;
    color: $primary-color;
    margin: 2px 0 20px 0;
    @include desktop {
      font-size: 13px;
      margin: 2px 0 10px 0;
    }
  }
  &__description {
    margin: 0 0 20px 0;
    font-size: 18px;
    color: #525252;
    @include desktop {
      font-size: 13px;
    }
  }
}
