@import "../utils/mixins";
@import "../utils/variables";
.btn_contact {
  background-color: $primary-color;
  border: none;
  color: white;
  margin-left: 80px;
  margin-top: 15px;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
    color: black;
  }
  @include desktop {
    position: fixed;
    bottom: 20px;
  }
}
